textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

  -webkit-background-clip: padding;

  -moz-background-clip: padding;

  background-clip: padding-box;

  -webkit-border-radius: 0;

  -moz-border-radius: 0;

  -ms-border-radius: 0;

  -o-border-radius: 0;

  border-radius: 0;

  -webkit-appearance: none;

  background-color: #fff;

  color: #000;

  outline: 0;

  margin: 0;

  padding: 0;

  text-align: left;

  font-size: 1em;

  height: 1em;

  vertical-align: middle;
}

select,
select,
select {
  background: #fff
    url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);

  background-repeat: no-repeat;

  background-position: 97% center;

  padding: 0 25px 0 8px;

  font-size: 0.875em;
}

.portImg {
  width: 100%;
  margin-bottom: 100px;
}
.portContainer {
  width: 70%;
  margin: auto;
}
.videos {
  width: 100%;
  margin-bottom: 100px;
}
.portText{
    color: white; 
    font-size: 18;
    margin-bottom: 13px;
}
.portEndText{
    width: 100%;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    display: flex;
    line-height: 1.8;
    color: white;
    font-size: 26
}
.formContainer{
  width: 400px;
  margin:auto;
}
.passwordInput{
  width: 100%;
  height: 100px;
  font-size: 20px;
  padding-left: 100px;
}
@media screen and (max-width: 1080px) {
  .portImg {
    margin-bottom: 40px;
  }
  .portContainer {
    width: 90%;
    margin: auto;
  }
  .videos {
    margin-bottom: 40px;
  }
  .portText{
    color: white; 
    font-size: 11;
    margin-bottom: 13px;
}
.portEndText{
    line-height: 1.8;
    font-size: 20
}
.formContainer{
  width: 300px;
}
.passwordInput{
  padding-left: 40px;
}
}
